*{
   margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "Edzo";
    src: url(edosz.ttf);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Controls how high the image floats */
    }
    100% {
        transform: translateY(0);
    }
}

#gori{
        animation: float 3s ease-in-out infinite;
}
#astro{
        animation: float 4s ease-in-out infinite;

}
#ship{
    transition-delay: 2s;
        animation: float 2s ease-in-out infinite;
}
    .text-con{
        
        height: 65px;
        width: 1480px;
        position: absolute;
        top: 180px;
        z-index: 999;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0px;

        p{
            font-size: 50px;
            font-family: saol;
            font-weight: 300;
            color: white;
            height: 64px;
            width: 1480px;

            span{
                color: #21BF1F;
            }
            #channel{
                color: #FFF600;
            }

            
        }
        .science{
            border-radius: 50%;
            height: 60px;
            width: 60px;
        }



    }
@keyframes scrollx {
    to{
        transform: translateX(-100%);
    }
}
@keyframes scrolly {
    to{
        transform: translateX(100%);
    }
}
.plus{
flex-shrink: 0;
animation: scrollx  25s linear infinite;
}
.minus{
animation: scrolly  25s linear infinite;
}
#slider{
    transition:all 1s;
}
.slide{
    transition:all 1s;
}
#subs:hover{
#add{
    transform: rotatez(1080deg);
    transition: all;
    transition-duration: 2s;
}
}
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 2px solid #FFF;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid #FF3D00;
  width: 38px;
  height: 38px;
  animation: rotationBack 1.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 28px;
  height: 28px;
  border-color: #FFF;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
